@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}
/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
  }
  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .nav-icon {
    font-size: 1.5rem;
  }
  .cart-btn {
    position: relative;
    cursor: pointer;
  }
  .cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }
  /* --------------- End of Navbar ---------------- */
  /* --------------- Hero ---------------- */
.hero {
    /* min-height: calc(100vh - 60px); */
    /* background: url("./images/agriculture.jpg") center/cover no-repeat; */
    /* background-image: url("../images/") */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
    /* display: flex; */
  justify-content: center;
  /* right: 50%; */
  position: absolute;
  /* margin: 0; */
  /* padding: 1rem 0; */
  /* bottom:0; */
  margin-bottom: 70%;
  }
  .banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
  }
  .banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .login-btn {
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
    width: 100px;
    
  }
  .login-btn:hover , .banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
  }
  /* --------------- End of Hero ---------------- */
  /* Carossel */
  /* @import url('https://fonts.googleapis.com/icon?family=Material+Icons'); */
.carousel-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3);
  width: 1280px;
  margin: 50px auto;
  min-height: 200px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .carousel-container {
    width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .carousel-container {
    width: 85%;
  }
}
.carousel-container .carousel-inner {
  overflow: hidden;
}
.carousel-container .track {
  display: inline-flex;
  transition: transform 0.5s;
}
.carousel-container .card-container {
  width: 259px;
  flex-shrink: 0;
  height: 250px;
  padding-right: 15px;
  box-sizing: border-box;
}
.carousel-container .card-container .card {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.nav button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--primaryColor);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: var(--primaryColor);
}

.nav .prev {
  left: -30px;
  display: none;
}
.nav .prev.show {
  display: block;
}
.nav .next {
  right: -30px;
}
.nav .next.hide {
  display: none;
}

.card > * {
  flex: 1;
}
.card .img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.card .info {
  flex-basis: 40px;
  background: #333;
  color: #fff;
  flex-grow: 0;
  padding: 10px;
  box-sizing: border-box;
}

  /* End of Carrosel */
  /* Search Filter */
  #mysearch{
    
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 50%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
  /* End of Search Filter */
  /* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr ));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }
  @media screen and (max-width: 700px){
    .products-center{
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr ));
    }
    

  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
  }
  /* ---------------End of Products ---------------- */
  /* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- End of Cart ---------------- */
/* Sidenav styles */
.menu{
  
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  display: inline-block;
  cursor: pointer;
  
}
.sidenav{
  width:0;
  height:100%;
  position:fixed;
  z-index: 1;
  top:0;
  left:0;
  background-color: var(--mainGrey);
  padding-top: 60px;
  transition: 0.5s;
  overflow-x: hidden;
}
.sidenav a{
  transition: 0.3;
  font-size: 25px;
  display: block;
  padding: 8px 8px 8px 6px;
  color: #818181;
  text-decoration: none;
}
.sidenav a:hover, .offcanvas a{
  color:#f1f1f1;

}
.closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px !important;
  margin-left: 150px;
}
footer{
  background-color: black;
  color: #fff;
  text-align: center;
  width:100%;
  font-size: 12.5px;
}
.foot{
  background-color: black;
  color: #fff;
  text-align: center;
  width:100%;
  font-size: 14px;
}
/*  Slide Show */
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
/* Caption text */
.text {
  color:#f09d51;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8% ;
  width: 100%;
  text-align: center;
  /* z-index: 1; */
  background-color: rgba(255, 255, 255, 0.4);
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
.dots {
  display: flex;
  justify-content: center;
  right: 50%;
  position: absolute;
  margin: 0;
  padding: 1rem 0;
  bottom: 0;
}


